<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>住院信息</title>
    <link rel="stylesheet" href="../css/layui.min.css">
    <link rel="stylesheet" href="../css/normalize.css" type="text/css"/>
    <link rel="stylesheet" href="../css/secondary.css" type="text/css"/>
    <script language="javascript" type="text/javascript" src="../js/KunyiHTML5.min.js"></script>
    <script language="javascript" type="text/javascript" src="../js/Kunyilibrary.js"></script>
</head>
<body >
<header>
    <a class="logo" href="/hospital"><img src="../images/logo.png" width="350" height="51"/></a>
</header>
<div class="layui-layout layui-layout-admin">
    <style>
		.patient-nav td {
			padding: 0 10px;
			font-size: 16px;
		}
		.patient-username {
			padding-right: 10px;
			font-weight: bold;
		}
	</style>
	<div>
		<table style="margin: 0 auto;">
			<tr class="patient-nav">
				<td><a href="/patient/appointmentHistory">预约记录</a></td>
				<td><a href="/patient/search">查询</a></td>
				<td><a href="/patient/medicalhistory">病史</a></td>
				<td><a href="/patient/hospitalization">住院</a></td>
				<td>你好,<span class="patient-username">jack</span> <a href="/loginout">退出登录</a></td>
			</tr>
		</table>
	</div>

    <!-- 内容主体区域 -->
    <div style="padding: 15px;">
        <table class="layui-table" lay-even lay-skin="nob" style="width: 60%;margin: 0 auto">
            <colgroup>
                <col width="150">
                <col width="200">
                <col width="200">
                <col width="200">
                <col width="200">
                <col width="200">
            </colgroup>
            <tr>
                <td style="width: 100px">楼层：</td>
                <td>4</td>
            </tr>
            <tr>
                <td>门牌号：</td>
                <td>
                    401
                </td>
            </tr>
            <tr>
                <td>床号：</td>
                <td>
                    40
                </td>
            </tr>
            <tr>
                <td>患病：</td>
                <td>
                    jack
                </td>
            </tr>
            <tr>
                <td>住院时间：</td>
                <td>
                    2020-2-1
                </td>
            </tr>
            <tr>
                <td>出院时间：</td>
                <td>
                    2020-2-15
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <button class="layui-btn layui-btn-normal" onclick="showHistroy()">住院历史信息</button>
                </td>
            </tr>
        </table>
    </div>
    <hr>
    <hr>
    <table id="table" class="layui-table" lay-even lay-skin="nob" style="width: 60%;margin: 0 auto;display: none">
        <colgroup>
            <col width="150">
            <col width="150">
            <col width="150">
            <col width="150">
            <col width="150">
            <col width="150">
            <col width="150">
            <col width="150">
            <col width="300">
            <col>
        </colgroup>
        <thead>
        <tr>
            <th>序号</th>
            <th>楼层号</th>
            <th>门牌号</th>
            <th>床号</th>
            <th>患者</th>
            <th>患病</th>
            <th>住院时间</th>
            <th>出院时间</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>4</td>
                <td>401</td>
                <td>40</td>
                <td>jack</td>
                <td>感冒</td>
                <td>2020-2-1</td>
                <td>2020-2-15</td>
            </tr>
        </tbody>
    </table>
    <div style="height: 400px;"></div>
</div>
<footer>
    <div class="footBase">
        <h3>咨询电话：门诊导医电话 ：1111111 （上午8：00至12:00）（下午14:00至17:00）
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>医院办公室电话：111111（全天）</span></h3>
        <p>主办单位：人民医院 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;东区地址：省市城关解放路64号 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;西区地址：省市商都大道2996号<br/>版权所有：省人民医院
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;备案号：000000 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p>
        <div class="QRcode"><img src="../images/QRcode.jpg" width="104" height="104"><br/>手机扫一扫关注人民医院官方微信</div>
    </div>
</footer>
<script src="../js/layui.all.js"></script>
<script src="../js/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
    function showHistroy() {
        $("#table").show();
    }
</script>
</body>
</html>